*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000eb;
  color: #fff;
}

h3 {
  font-size: 1.25rem;
}

h3,
p {
  margin: 1rem 0.5rem;
}

ol,
ul {
  margin: 1rem 1.5rem;
}

a {
  margin: 0.5rem;
}

.hero {
  display: flex;
  justify-content: right;
  align-items: center;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 1)
  );
  height: 100dvh;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: auto;
  z-index: -1;
}

.main-title {
  font-family: 'Lobster', sans-serif;
  font-size: 5rem;
  opacity: 0;
  animation: fadeIn 4s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.recipes {
  font-size: 0.8rem;
  list-style: none;
  text-align: left;
  border-left: 2px solid #fff;
  padding-left: 12px;
  margin-right: 5rem;
  margin-top: 2rem;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

.recipes a {
  color: white;
  text-decoration: none;
  line-height: 1.75;
}

.bg-container {
  position: relative;
  max-width: 1080px;
  height: 100dvh;
  margin: 0 auto;
}

.bg-image {
  object-fit: cover;
  animation: fadeIn 2s ease-in-out forwards;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}

.text-container {
  position: absolute;
  animation: fadeIn 2s ease-in-out forwards;
}

.recipe-name {
  font-size: 2rem;
  margin-left: 0.5rem;
}

footer {
  margin-top: 100px;
}

.next-btn,
.back-btn {
  text-decoration: none;
  font-weight: bold;
  color: lightgrey;
}
